<header class="header">
  <div class="header-left">
    <mat-icon class="finance-icon">trending_up</mat-icon>
    <span class="app-title">Merval Stock Tracker</span>
  </div>
  <div class="header-right">
    <a href="https://www.linkedin.com/in/walter-galvan" target="_blank" class="social-link">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    <a href="https://github.com/Psagrox" target="_blank" class="social-link">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
  </div>
</header>
